#Explain about tuple
   A tuple in Python is an immutable, ordered collection of elements.once a tuple is crated,its the element cannot be changed, added, or removed. they are defined using parenthess () and elements are separated by comma.

#creating a tuple :

#Empty tuple:
*Empty_tuple()

#Examples:

In [ ]:
fruits=("apple","banana","orange")
type(fruits)

tuple

In [ ]:
a=(65,74,'harini',5.87)
type(a)

tuple

In [ ]:
birds=('peacock','parrot','dove')
type(birds)

tuple

In [ ]:
states=('andhra','delhi','jammu')
type(states)

tuple

In [ ]:
my_tuple = (1, 2, 3, 'apple')
type(my_tuple)

tuple

#accessing of tuples:
*tuples support indexing and slicing just like list.

In [ ]:
animals=('cat','dog','monkey','cow','deer')
print(animals[0])

cat

In [ ]:
print(animals[1])

dog

In [ ]:
print(animals[3])

cow

In [ ]:
print(animals[4])

deer

In [ ]:
print(animals[0:3])

('cat', 'dog', 'monkey')

In [ ]:
print(animals[1:3])

('dog', 'monkey')

In [ ]:
print(animals[2:4])

('monkey', 'cow')

#tuple operations:
# 1.concatenation: its nothing but combining of two tuple.

In [ ]:
tup1=(1,3,6,9,10)
tup2=(2,4,5,7,8)
print(tup1+tup2)

(1, 3, 6, 9, 10, 2, 4, 5, 7, 8)

In [ ]:
tuple1=(1,2,3)
tuple2=(4,5,6,7,8,9,10)
print(tuple1+tuple2)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

2.reptition:
  repeating a tuple with mentioned times.

In [ ]:
tuple2=(1,2,4.65)
print(tuple2*5)

(1, 2, 4.65, 1, 2, 4.65, 1, 2, 4.65, 1, 2, 4.65, 1, 2, 4.65)

In [ ]:
tuple1=(1,2,3)
print(tuple1*8)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

#tuple methods:
tuple have limited methods compared to lists due to their immutability.

1.count(): returns number og occurrences of a specified value.

In [3]:
a=('apple','banana','orange','mango','apple','mango','apple')
a.count('mango')

2

In [4]:
b=(1,2,3,4,5,6,1,2,1,1,1,1)
b.count(1)

6

2.index():returs the index of first occurence of specified value.

In [5]:
b=(1,2,3,4,5,6,1,2,1,1,1,1)
b.index(2)

1

In [6]:
word=('a','b',1,2,3,'a','c','a',1,2,3)
word.index(2)

3

In [8]:
hello=(1,2,3,4,'app','app',1,2,'bag',1.3,2,3)
hello.index('bag')

8